<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - TestComikApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestComikApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico" />
    <link rel="stylesheet" href="~/vendor/css/pages/page-misc.css" />
     <link rel="stylesheet" href="~/vendor/fonts/boxicons.css"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
        <script src="~/js/pages-account-settings-account.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-expand-xl navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
        
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestComikApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                       aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between align-items-center">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link custom-color" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-color" asp-area="" asp-controller="Home" asp-action="Privacy">Latest Comics</a>
                        </li>
                        <li class="nav-item">
                 <a class="nav-link custom-color" asp-area="" asp-controller="Home" asp-action="Privacy">Hot Comics</a>
                        </li>
                        <li class="nav-item">
                <a class="nav-link custom-color" asp-area="" asp-controller="Home" asp-action="Privacy">New Comics</a>
                        </li>
                       <li class="nav-item">
                        <a class="nav-link custom-color" asp-area="" asp-controller="Home" asp-action="Privacy">Completed Comics</a>
                       </li>
                    </ul>
          
              <div class="navbar-nav flex-grow-1">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
            
             <div class="navbar-nav flex-row align-items-center ms-auto">
                       <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" id="dropdown-toggle" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="~/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" id="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="~/img/avatars/1.png" alt="" class="w-px-40 h-auto rounded-circle">
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     @* <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by 
                  <a href="https://themeselection.com" target="_blank" class="footer-link fw-bolder">QuanHK</a>
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
                  <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">More Themes</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >

                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a
                  >
                </div>
              </div>
            </footer> *@

    @* <footer class="content-footer footer bg-footer-theme mt-auto">
              <div class="container-xxl d-flex flex-wrap justify-content-between flex-md-row flex-column">
                <div class="mb-2 mb-md-0">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with ❤️ by QuanHK
                </div>
                <div>
                  <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>

                  <a
                    href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
                    target="_blank"
                    class="footer-link me-4"
                    >Documentation</a
                  >
                  <a
                    href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
                    target="_blank"
                    class="footer-link me-4"
                    >Support</a>
                  >
                </div>
              </div>
    </footer> *@
    @* <script>
    document.addEventListener('DOMContentLoaded',()=>
    { 
      var dropdown_button=document.getElementById("dropdown-toggle");
      var dropdown_content= document.getElementById("dropdown-menu");
      dropdown_button.addEventListener('click',(event)=>{
        var isExpanded=dropdown_button.getAttribute("aria-expanded");
        if(isExpanded=="true")
        {
        dropdown_button.setAttribute('aria-expanded',"false");
        dropdown_content.style.display='none';
        }
        else if(isExpanded=="false")
        {
        dropdown_button.setAttribute("aria-expanded","true");
        dropdown_content.style.display='block';  
        }
      });
      });
    </script> *@
   <script src="@(Url.Content("~/lib/jquery/dist/jquery.min.js"))"></script>
   <script src="@(Url.Content("~/vendor/js/helpers.js"))"></script>
   <script src="@(Url.Content("~/js/config.js"))"></script>
   <script src="@(Url.Content("~/vendor/libs/jquery/jquery.js"))"></script>
   <script src="@(Url.Content("~/vendor/libs/popper/popper.js"))"></script>
   <script src="@(Url.Content("~/vendor/js/bootstrap.js"))"></script>

   <script src="@(Url.Content("~/js/main.js"))"></script>
   <script src="@(Url.Content("~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"))"></script>
   <script src="@(Url.Content("~/vendor/js/menu.js"))"></script>
   <script src="@(Url.Content("~/js/site.js"))"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/js/helpers.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/vendor/libs/jquery/jquery.js"></script>
    <script src="~/vendor/libs/popper/popper.js"></script>
    <script src="~/vendor/js/bootstrap.js"></script>
    <script src="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/js/menu.js"></script>
    <script src="~/js/main.js"></script> *@

    @* <script async defer src="https://buttons.github.io/buttons.js"></script> *@
   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
