
    <div class="row">
    <div class="card mb-3">
      <div class="card-header">
         <div class="app-brand justify-content-center">
                <h4 class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <svg
                      width="25"
                      viewBox="0 0 25 42"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <defs>
                        <path
                          d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                          id="path-1"
                        ></path>
                        <path
                          d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                          id="path-3"
                        ></path>
                        <path
                          d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                          id="path-4"
                        ></path>
                        <path
                          d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                          id="path-5"
                        ></path>
                      </defs>
                      <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                          <g id="Icon" transform="translate(27.000000, 15.000000)">
                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                              <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                              </mask>
                              <use fill="#696cff" xlink:href="#path-1"></use>
                              <g id="Path-3" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-3"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                              </g>
                              <g id="Path-4" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-4"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                              </g>
                            </g>
                            <g
                              id="Triangle"
                              transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                            >
                              <use fill="#696cff" xlink:href="#path-5"></use>
                              <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="demo text-body fw-bolder">Popular Comik</span>
                </h4>
              </div>
      </div>
      <div class="card-body">
      <div class="swiper-container">
        <div class="carousel-control-prev swiper-nav" role="button" id="prev-btn" onclick="prev_btn_handling()"><i class="fa fa-angle-left"></i></div>
        <div class="carousel-control-next swiper-nav" role="button" id="next-btn" onclick="next_btn_handling()"><i class="fa fa-angle-right"></i></div>
        <div class="swiper-wrapper" id="swiper-wrapper">
        <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 8</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 7</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
           <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 9</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
       <div class="swiper-slide">
          <div class="popular-item">
            <a href="https://youtube.com" class="popular-item-cover">
              <img src="~/img/avatars/test.jpg" class="popular-item-cover-img">
            </a>
            <div class="popular-item-info">
              <h3 class="popular-item-name"><a href="https://youtube.com" title="Kaiju 8">Kaiju 10</a></h3>
              <div class="text-muted">Chapter 188</div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
         <div class="app-brand justify-content-center">
                <h4 class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <svg
                      width="25"
                      viewBox="0 0 25 42"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <defs>
                        <path
                          d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                          id="path-1"
                        ></path>
                        <path
                          d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                          id="path-3"
                        ></path>
                        <path
                          d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                          id="path-4"
                        ></path>
                        <path
                          d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                          id="path-5"
                        ></path>
                      </defs>
                      <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                          <g id="Icon" transform="translate(27.000000, 15.000000)">
                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                              <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                              </mask>
                              <use fill="#696cff" xlink:href="#path-1"></use>
                              <g id="Path-3" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-3"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                              </g>
                              <g id="Path-4" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-4"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                              </g>
                            </g>
                            <g
                              id="Triangle"
                              transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                            >
                              <use fill="#696cff" xlink:href="#path-5"></use>
                              <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="demo text-body fw-bolder">Top Views</span>
                </h4>
              </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3 cursor-pointer custom-title">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top custom-card-img" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">hello handsome guy,there is something i would like to give your</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <div class="card mb-4">
        <div class="card-header">
             <div class="app-brand justify-content-center">
                <h4 class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <svg
                      width="25"
                      viewBox="0 0 25 42"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                    >
                      <defs>
                        <path
                          d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z"
                          id="path-1"
                        ></path>
                        <path
                          d="M5.47320593,6.00457225 C4.05321814,8.216144 4.36334763,10.0722806 6.40359441,11.5729822 C8.61520715,12.571656 10.0999176,13.2171421 10.8577257,13.5094407 L15.5088241,14.433041 L18.6192054,7.984237 C15.5364148,3.11535317 13.9273018,0.573395879 13.7918663,0.358365126 C13.5790555,0.511491653 10.8061687,2.3935607 5.47320593,6.00457225 Z"
                          id="path-3"
                        ></path>
                        <path
                          d="M7.50063644,21.2294429 L12.3234468,23.3159332 C14.1688022,24.7579751 14.397098,26.4880487 13.008334,28.506154 C11.6195701,30.5242593 10.3099883,31.790241 9.07958868,32.3040991 C5.78142938,33.4346997 4.13234973,34 4.13234973,34 C4.13234973,34 2.75489982,33.0538207 2.37032616e-14,31.1614621 C-0.55822714,27.8186216 -0.55822714,26.0572515 -4.05231404e-15,25.8773518 C0.83734071,25.6075023 2.77988457,22.8248993 3.3049379,22.52991 C3.65497346,22.3332504 5.05353963,21.8997614 7.50063644,21.2294429 Z"
                          id="path-4"
                        ></path>
                        <path
                          d="M20.6,7.13333333 L25.6,13.8 C26.2627417,14.6836556 26.0836556,15.9372583 25.2,16.6 C24.8538077,16.8596443 24.4327404,17 24,17 L14,17 C12.8954305,17 12,16.1045695 12,15 C12,14.5672596 12.1403557,14.1461923 12.4,13.8 L17.4,7.13333333 C18.0627417,6.24967773 19.3163444,6.07059163 20.2,6.73333333 C20.3516113,6.84704183 20.4862915,6.981722 20.6,7.13333333 Z"
                          id="path-5"
                        ></path>
                      </defs>
                      <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                          <g id="Icon" transform="translate(27.000000, 15.000000)">
                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                              <mask id="mask-2" fill="white">
                                <use xlink:href="#path-1"></use>
                              </mask>
                              <use fill="#696cff" xlink:href="#path-1"></use>
                              <g id="Path-3" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-3"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                              </g>
                              <g id="Path-4" mask="url(#mask-2)">
                                <use fill="#696cff" xlink:href="#path-4"></use>
                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                              </g>
                            </g>
                            <g
                              id="Triangle"
                              transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                            >
                              <use fill="#696cff" xlink:href="#path-5"></use>
                              <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </span>
                  <span class="demo text-body fw-bolder">Most Recent</span>
                </h4>
              </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3 cursor-pointer">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title">hello handsome guy,there is something i would like to give your</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                 <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
                    <div class="col-6 col-sm-3 col-md-2 mb-3">
                    <div class="card mb-3">
                        <img src="@Url.Content("~/img/avatars/test.jpg")" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Card Title 2</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="pagination-container mb-3">
      <div class="page-total">Total Story:100</div>
      <div class="page-list">
       <a class="page-item" title="First" href="#"><<</a>
       <a class="page-item" title="Previous" href="#"><</a>
       <a class="page-item" title="1" href="#">1</a>
       <a class="page-item" title="2" href="#">2</a>
       <a class="page-item" title="3" href="#">3</a>
       <a class="page-item" title="4" href="#">4</a>
       <a class="page-item" title="Next" href="#">></a>
       <a class="page-item" title="Last" href="#">>></a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row text-center">
          <div class="col-12 d-flex flex-wrap justify-content-between">
           <div class="col-6 col-lg-1">Category 1</div>
                    <div class="col-6 col-lg-1">Category 2</div>
                    <div class="col-6 col-lg-1">Category 3</div>
                    <div class="col-6 col-lg-1">Category 4</div>
                    <div class="col-6 col-lg-1">Category 5</div>
                    <div class="col-6 col-lg-1">Category 6</div>
                    <div class="col-6 col-lg-1">Category 7</div>
                    <div class="col-6 col-lg-1">Category 8</div>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12 d-flex flex-wrap justify-content-between">
           <div class="col-6 col-lg-1">Category 1</div>
           <div class="col-6 col-lg-1">Category 2</div>
           <div class="col-6 col-lg-1">Category 3</div>
          <div class="col-6 col-lg-1">Category 4</div>
          <div class="col-6 col-lg-1">Category 5</div>
          <div class="col-6 col-lg-1">Category 6</div>
          <div class="col-6 col-lg-1">Category 7</div>
          <div class="col-6 col-lg-1">Category 8</div>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <script>
    document.addEventListener("DOMContentLoaded",()=>{
      var init_value=0;
      var count_value=0;
      var screen_width=screen.width;
      var current_page=0;
      localStorage.setItem("CUR_PAGE","0");
      setInterval(()=>{
        const carouselItems=document.getElementById("swiper-wrapper");
       if(screen_width<575)
       {
        @* count_value+=1;
        init_value-=(96+count_value)
        if(init_value<-778)
        {
          init_value=0;
          count_value=0;
        } *@
         var cur_page_value=parseInt(localStorage.getItem("CUR_PAGE"))+1;
        init_value=-((117*cur_page_value)+(3.5*cur_page_value));
        if(init_value<-828)
        {
          init_value=0;
          localStorage.setItem("CUR_PAGE","0");
        }
        else
        {
        localStorage.setItem("CUR_PAGE",cur_page_value);
        }
       }
       else{
        var cur_page_value=parseInt(localStorage.getItem("CUR_PAGE"))+1;
        init_value=-((185*cur_page_value)+(5*cur_page_value));
        if(init_value<-740)
        {
          init_value=0;
          localStorage.setItem("CUR_PAGE","0");
        }
        else
        {
        localStorage.setItem("CUR_PAGE",cur_page_value);
        }
        }
        carouselItems.style.transform=`translate3d(${init_value}px,0px,0px)`;
        carouselItems.style.transitionDuration="500ms";
      },60000);
    });
    
    const prev_btn_handling=()=>
    {
    var prev_button=document.getElementById("prev-btn");
    var carouselItems=document.getElementById("swiper-wrapper");
    var screen_width=screen.width;
    var current_page=parseInt(localStorage.getItem("CUR_PAGE"));
    if(screen_width>=575)
    {
    if(current_page>0)
    {
     var current_px=(-(185*(current_page-1)+5*(current_page-1)));
     var new_cur_page=current_page-1;
     localStorage.setItem("CUR_PAGE",new_cur_page);
     carouselItems.style.transform=`translate3d(${current_px}px,0px,0px)`;
     carouselItems.style.transitionDuration="500ms";
    }
    }
    else
    {
  if(current_page>0)
    {
     var current_px=(-(117*(current_page-1)+3.5*(current_page-1)));
     var new_cur_page=current_page-1;
     localStorage.setItem("CUR_PAGE",new_cur_page);
     carouselItems.style.transform=`translate3d(${current_px}px,0px,0px)`;
     carouselItems.style.transitionDuration="500ms";
    }
    }
    }

    const next_btn_handling=()=>
    {
       var prev_button=document.getElementById("next-btn");
    var carouselItems=document.getElementById("swiper-wrapper");
    var screen_width=screen.width;
    var current_page=parseInt(localStorage.getItem("CUR_PAGE"));
    if(screen_width>=575)
    {
    if(current_page<3)
    {
     var current_px=(-(185*(current_page+1)+5*(current_page+1)));
     var new_cur_page=current_page+1;
     localStorage.setItem("CUR_PAGE",new_cur_page);
     carouselItems.style.transform=`translate3d(${current_px}px,0px,0px)`;
     carouselItems.style.transitionDuration="500ms";
    }
    }
    else{
      if(current_page<7)
    {
     var current_px=(-(117*(current_page+1)+3.5*(current_page+1)));
     var new_cur_page=current_page+1;
     localStorage.setItem("CUR_PAGE",new_cur_page);
     carouselItems.style.transform=`translate3d(${current_px}px,0px,0px)`;
     carouselItems.style.transitionDuration="500ms";
    }
    }
    }

  </script>